DB_ENGINE=django.db.backends.mysql
DB_NAME=algoclan
DB_USER=root
DB_PASSWORD=1234
DB_HOST=127.0.0.1
DB_PORT=3306

EMAIL_HOST_USER='noreply@algoclan.ca'

OPENWEATHER_API_KEY= 'a78d6************'

redis_cache_timeout_wtr_dtl= 6
DJANGO_GLOBAL_REQUEST_RATE_LIMIT= 5

SECRET_KEY=<your-django-secret-key>

DEBUG=True

ACCESS_TOKEN_LIFETIME=1
REFRESH_TOKEN_LIFETIME=7

DJANGO_REDIS_BACKEND="django_redis.cache.RedisCache"
DJANGO_REDIS_LOCATION_IP="redis://127.0.0.1:6379/1"